
@{
    ViewBag.Message = "Esta es la implementación de la fabula de la liebre y la tortuga";
    ViewBag.Title = "Fabula";

}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>
<h2>Fabula</h2>

<table class="table">
    <thead>
        <tr>
            <th>Nombre</th>
            <th>Movimiento</th>
            <th> ----------------</th>
            <th>Nombre</th>
            <th>Movimiento</th>
        </tr>
    </thead>
    <tbody>
        @{ for (int i = 0; i < 20; i++)
            {
                
        <tr>

            @if (i == 19)
            {
                if (Model[2, 0] == 1)
                {
                    <td> Gano la tortuga</td>
                    <td>yupi</td>
                    <td>-------</td>
                    <td>-------</td>
                    <td>-------</td>
                }
                else if (Model[2, 0] == 2)
                {
                    <td>-------</td>
                    <td>-------</td>
                    <td>-------</td>
                    <td>Gano la liebre</td>
                    <td>buu..¡¡</td>
                }
                else if (Model[2, 0] == 3)
                {
                    <td>Empate</td>
                    <td>Empate</td>
                    <td>Empate</td>
                    <td>Empate</td>
                    <td>Empate</td>
                }
                else if (Model[2, 0] == 4)
                {
                    <td>Empate pero gana Tortuga</td>
                    <td>Por ser chida</td>
                    <td>-------</td>
                    <td>-------</td>
                    <td>-------</td>
                }
            }
            else
            {
                if (Model[0, i] == 1)
                {
                    <td>Tortuga</td>
                    <td>Inicia</td>
                }
                else if (Model[0, i] == 3)
                {
                    <td>Tortuga</td>
                    <td>Normal</td>
                }
                else if (Model[0, i] == 4)
                {
                    <td>Tortuga</td>
                    <td>Rápido</td>
                }
                else if (Model[0, i] == -1)
                {
                    <td>  ||  </td>
                    <td>  ||  </td>
                }

                <td> ------ </td>

                if (Model[1, i] == 1)
                {
                    <td>Liebre</td>
                    <td>Inicia</td>
                }
                else if (Model[1, i] == 3)
                {
                    <td>Liebre</td>
                    <td>Normal</td>
                }
                else if (Model[1, i] == 4)
                {
                    <td>Liebre</td>
                    <td>Rápido</td>
                }
                else if (Model[1, i] == -1)
                {
                    <td>  ||  </td>
                    <td>  ||  </td>
                }
                else if (Model[1, i] == 0)
                {
                    <td>Liebre</td>
                    <td>Dormir por 2 segundos</td>
                }
            }


        </tr>
            }

        }
    </tbody>

</table>

<br />
@{ if (Model[2, 0] == 1)
    {
        <h1> Gano la tortuga</h1>
    }
    else if (Model[2, 0] == 2)
    {
        <h1>Gano la liebre</h1>
    }
    else if (Model[2, 0] == 3)
    {
        <h1>Hubo un empate</h1>
    }
    else if (Model[2, 0] == 4)
    {
        <h1>Hubo un empate, pero la tortuga gana por buena onda :v</h1>
    }
}