@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Examén Lasec</h1>
    <h2>Fabula la liebre y la tortuga</h2>
    <p class="lead">
        Una vez, una Liebre, se burlaba de las patas cortas y de la lentitud al caminar de una Tortuga,
        sin embargo, esta no se quedo callada, y se defendió lanzando una risa, y dijo a la Liebre:
    </p>
    <p class="lead">
        "Puede que seas muy veloz amiga Liebre, pero, estoy más que segura poderte ganar una carrera."
    </p>
    <p class="lead">
        La Liebre, sorprendida por tal decir, aceptó el reto sin pensarlo dos veces, ya que ella,
        estaba muy segura de que ganaría a la Tortuga a ojos cerrados. Entonces, ambos propusieron
        a la Zorra, que señale el camino y la meta. Días después, llegó el esperado momento de la carrera,
        y al sonar la cuenta de tres, inició la carrera de estos dos contendientes.
    </p>
    <p class="lead">
        La Tortuga no dejaba de
        caminar y caminar, pero a su lento paso, avanzaba tranquila hacia la meta. En cambio la Liebre, corrió
        tan rápido que dejó muy atrás a la Tortuga. Al voltearse y ya no ver a la Tortuga, la Liebre vio segura
        su éxito sobre la carrera, y deicidio echarse una siesta. Poco después, la Liebre despertó y vio si por
        atrás seguía sin llegar la Tortuga, pero al ver hacia la meta, vio a la Tortuga muy cerca de la Final,
        y en un intento desesperado por correr lo más veloz que pudo, la Tortuga llegó y ganó.


    </p>
    <div class="container">
        
        <p class="col-lg-8"><a href="@Url.Action("Fabula", "Home")" class="btn btn-primary btn-lg">Comenzar carrera &raquo;</a></p>
        <img src="~/Images/fab.jpg" class="img-rounded col-lg-4" width="200" />
    </div>
    

    
</div>

